<h1>List Of Users</h1>
<button (click)="loadUser()">{{ buttonText }}</button>
<div style="overflow-x:auto;">
    <table style="width: 100%; text-align: left" *ngIf="users.length">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Firstname</th>
            <th scope="col">Middle Name</th>
            <th scope="col">Lastname</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Role</th>
            <th scope="col">Address</th>
            <th scope="col">Created On</th>
            <th scope="col">Modified On</th>
            <th scope="col">Action</th>
        </tr>
        <tr *ngFor="let user of users;">
            <td>{{ user.id }}</td>
            <td>
                <span *ngIf="!user.isInEditMode">{{ user.firstName }}</span>
                <input *ngIf="user.isInEditMode" [(ngModel)]="user.updatedUser.firstName" />
            </td>
            <td>
                <span *ngIf="!user.isInEditMode">{{ user.middleName }}</span>
                <input *ngIf="user.isInEditMode" [(ngModel)]="user.updatedUser.middleName" />
            </td>
            <td>
                <span *ngIf="!user.isInEditMode">{{ user.lastName }}</span>
                <input *ngIf="user.isInEditMode" [(ngModel)]="user.updatedUser.lastName" />
            </td>
            <td>
                <span *ngIf="!user.isInEditMode">{{ user.email }}</span>
                <input *ngIf="user.isInEditMode" [(ngModel)]="user.updatedUser.email" />
            </td>
            <td>
                <span *ngIf="!user.isInEditMode">{{ user.phone }}</span>
                <input *ngIf="user.isInEditMode" [(ngModel)]="user.updatedUser.phone" />
            </td>
            <td>
                <span *ngIf="!user.isInEditMode">{{ user.getRole() }}</span>
                <select *ngIf="user.isInEditMode" [(ngModel)]="user.updatedUser.role">
                    <option value="">--Select a role--</option>
                    <option value="0">Admin</option>
                    <option value="1">SuperAdmin</option>
                </select>
            </td>
            <td>
                <span *ngIf="!user.isInEditMode">{{ user.address }}</span>
                <input *ngIf="user.isInEditMode" [(ngModel)]="user.updatedUser.address" />
            </td>
            <td>
                <span>{{ user.createdOn }}</span>
            </td>
            <td>
                <span>{{ user.modifiedOn }}</span>
            </td>
            <td>
                <em *ngIf="!user.isInEditMode" class="fa fa-edit" style="font-size: 30px; margin-right: 20px"
                    (click)="user.openInUpdateMode()"></em>
                <em *ngIf="!user.isInEditMode" class="fa fa-trash-o" style="font-size: 30px"
                    (click)="deleteUser(user.id)"></em>
                <button *ngIf="user.isInEditMode" (click)="user.update()">Save</button>
                <button *ngIf="user.isInEditMode" (click)="user.cancelUpdate()">Cancel</button>
            </td>
        </tr>
    </table>
</div>